In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt

In [3]:
da = pd.read_csv('m1.csv')

In [4]:
da.shape

(9226, 18)

In [5]:
da.head()

,xmlid,xmleventtypeid,xmlticker,xmleventdate,xmlfakeqtr,xmlcity,xmlcompanyname,xmlymd,xmlcalldate,gvkey,datadate,tic,cusip,conm,rdq,exchg,fic,no_of_days
0,12456222,1,**LEVI,9-Apr-19,Q1 2019,San Francisco,Levi Strauss & Co,20190409,9-Apr-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,12289014,1,**LEVI,5-Feb-19,Q4 2018,San Francisco,Levi Strauss & Co,20190205,5-Feb-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,12295223,1,**MTGA,7-Feb-19,Q1 2019,Uncasville,Mohegan Gaming & Entertain,20190207,7-Feb-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,12405140,1,**NEIMAN,12-Mar-19,Q2 2019,DALLAS,Neiman Marcus Group Ltd LL,20190312,12-Mar-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,12282047,1,**RURAL,25-Jan-19,Q2 2019,NAN,National Rural Utilities C,20190125,25-Jan-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
clean = da.dropna()

In [9]:
clean.shape

(4055, 18)

In [10]:
[type(da[i][0]) for i in da.columns]

[numpy.int64,
 numpy.int64,
 str,
 str,
 str,
 str,
 str,
 numpy.int64,
 str,
 numpy.float64,
 numpy.float64,
 float,
 float,
 float,
 numpy.float64,
 numpy.float64,
 float,
 numpy.float64]

In [10]:
clean.head()

,xmlid,xmleventtypeid,xmlticker,xmleventdate,xmlfakeqtr,xmlcity,xmlcompanyname,xmlymd,xmlcalldate,gvkey,datadate,tic,cusip,conm,rdq,exchg,fic,no_of_days
317,12278874,1,A,20-Feb-19,Q1 2019,SANTA CLARA,Agilent Technologies Inc,20190220,20-Feb-19,126554.0,20190131.0,A,00846U101,AGILENT TECHNOLOGIES INC,20190220.0,11.0,USA,0.0
318,12282255,7,A,28-Feb-19,Agilent,New York,Agilent Technologies Inc,20190228,28-Feb-19,126554.0,20190131.0,A,00846U101,AGILENT TECHNOLOGIES INC,20190220.0,11.0,USA,-8.0
319,12301332,11,A,20-Mar-19,Agilent,SANTA CLARA,Agilent Technologies Inc,20190320,20-Mar-19,126554.0,20190131.0,A,00846U101,AGILENT TECHNOLOGIES INC,20190220.0,11.0,USA,-28.0
329,12367871,1,AAC,16-Apr-19,Q4 2018,Brentwood,AAC Holdings Inc,20190416,16-Apr-19,178698.0,20181231.0,AAC,307108,AAC HOLDINGS INC,20190415.0,11.0,USA,-1.0
333,12264813,1,AAL,24-Jan-19,Q4 2018,FORT WORTH,American Airlines Group In,20190124,24-Jan-19,1045.0,20181231.0,AAL,02376R102,AMERICAN AIRLINES GROUP INC,20190124.0,14.0,USA,0.0

- the number of U.S. firms covered

In [15]:
len(set(clean['xmlticker']))

2790

- the number of U.S. firm earnings call events

In [16]:
clean.shape[0]

4055

- the distrubution of dates

In [21]:
clean['xmlymd'].max()

20190424

In [22]:
clean['xmlymd'].min()

20190103

In [23]:
clean['rdq'].max()

20190424.0

In [24]:
clean['rdq'].min()

20181204.0

- exchange: 11 NYSE, 12 AMEX, 14 NASDAQ, 19 OTC

In [30]:
grp_exchg = clean.groupby('exchg')

In [31]:
grp_exchg.count()['xmlid']

exchg
11.0    2028
12.0      61
14.0    1928
19.0      31
21.0       5
22.0       2
Name: xmlid, dtype: int64

In [36]:
grp_exchg.count()['xmlid']/sum(grp_exchg.count()['xmlid'])

exchg
11.0    0.500123
12.0    0.015043
14.0    0.475462
19.0    0.007645
21.0    0.001233
22.0    0.000493
Name: xmlid, dtype: float64

In [37]:
0.500123+0.015043+0.475462

0.9906280000000001

- event type: 1 earnings call/pre, 5 corporate call/pre, 7 Conference pre, 11 Shareholders Annual Meeting, 30 Guidance Call/Pre, 31 Corporate Analyst Meeting, 33 Sales/Trading Statement Call/Pre, 34 M&A Announcement

In [14]:
type_exchg = clean.groupby('xmleventtypeid')We 
type_exchg.count()['xmlid']/sum(type_exchg.count()['xmlid'])

xmleventtypeid
1     0.770407
5     0.010604
7     0.181011
11    0.010851
30    0.000740
31    0.018742
33    0.001233
34    0.006412
Name: xmlid, dtype: float64

In [40]:
a

xmleventtypeid
1     0.770407
5     0.010604
7     0.181011
11    0.010851
30    0.000740
31    0.018742
33    0.001233
34    0.006412
Name: xmlid, dtype: float64

In [44]:
sum(a[[1,7,31]])

0.9701602959309494